@mixin desktop {
    @media (min-width: 900px) {
        @content;
    }
}
.main {
    padding: 0 14px;
    margin-top: 113px;
    font-family: 'Open Sans', sans-serif;
    @include desktop {
        display: flex;
        align-items: center;
        max-width: 1260px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 22.5vh;
    }
    @media (min-width:1600px) {
        padding: 0 0;
    }


    &__description {
        display: flex;
        flex-direction: column;
        @include desktop {
            margin-right: 21px;
            width: 40%;
            position: relative;
            top:10px;
            left: 8px
        }
       
        h1 {
            font-family: 'PT Sans', sans-serif;
            font-size: 24px;
            color: #292929;
            @include desktop {
                font-size: 42px;
                position: relative;
                left:1px;
            }
        }

        p {
            margin-top: 27px;
            font-size: 16px;
            color: #292929;

            &:nth-of-type(2) {
                margin-top:23px;
            }
            @media (min-width: 1200px){
                font-size: 20px;
                position: relative;
                left:5px;
                line-height: 29px;
                &:nth-of-type(2) {
                    margin-top:32px;
                }
            }
        }
    }

    &__image {
        margin-top: 30px;
        position: relative;
        left:3px;

        img {
            width: 103%;
            max-width: 752px;
        }
    }

}
